
<section class="container mx-auto">


<h3 class="text-5xl text-center md:text-left py-5 mb-7">Tech Stack 🔧</h3>


<section class="flex justify-center">
<div class="grid space-y-6 grid-cols-2 md:grid-cols-4 text-xl self-center pb-6">
    <div class="mt-6">
        <img src="assets/html-5.png" alt="Html5Img">
        <p>HTML5</p>
    </div>

<div>
    <img src="assets/css-3.png" alt="CSS3Img">
    <p class="ms-3">CSS3</p>
</div>

<div>
    <img src="assets/bootstrap.png" alt="BootstrapImg">
    <p>Bootstrap</p>
</div>
<div>
    <img src="assets/icons8-tailwindcss-144.png" alt="TailwindImg">
    <p>TailwindCSS</p>
</div>

    <div>
        <img src="assets/typescript.png" alt="TypescriptImg">
        <p>Typescript</p>
    </div>
    
    <div>
        <img src="assets/icons8-angular-144.png" alt="AngularImg">
        <p class="ms-3">Angular</p>
    </div>

    <div>
        <img src="assets/icons8-git-144.png" alt="GitImg">
        <p class="ms-6">GIT</p>
    </div>

    <div>
        <img src="assets/icons8-figma-144.png" alt="figmaImg">
        <p class="ms-3">Figma</p>
    </div>

</div>

</section>

</section>