
<section class="container mx-auto">


<h3 class="text-5xl text-center md:text-left py-5 mb-7">Tech Stack⚒️</h3>


<section class="w-[98%] md:w-[68%] mx-auto flex flex-col border shadow-lg py-4">
<div class="flex text-xl ps-16 justify-center text-center items-center space-x-8 space-y-4">
    <div class="mt-4">
        <img src="assets/html-5.png" alt="Html5Img">
        <p>HTML5</p>
    </div>
<div>
    <img src="assets/css-3.png" alt="CSS3Img">
    <p>CSS3</p>
</div>
<div>
    <img src="assets/bootstrap.png" class="ms-5" alt="BootstrapImg">
    <p>Bootstrap</p>
</div>
<div>
    <img src="assets/icons8-tailwindcss-144.png" class="ms-5" alt="TailwindImg">
    <p>TailwindCSS</p>
</div>



</div>
 
<div class="flex justify-center text-2xl text-center items-center space-x-8 space-y-4">
    <div class="mt-4">
        <img src="assets/typescript.png" class="ms-6" alt="TypescriptImg">
        <p>Typescript</p>
    </div>
    
    <div>
        <img src="assets/icons8-angular-144.png" alt="AngularImg">
        <p>Angular</p>
    </div>

    <div>
        <img src="assets/icons8-git-144.png" alt="GitImg">
        <p>GIT</p>
    </div>

    <div>
        <img src="assets/icons8-figma-144.png" alt="figmaImg">
        <p>Figma</p>
    </div>

</div>

</section>

</section>