
<section class="container mx-auto">


<h3 class="text-5xl text-center md:text-left py-5 mb-7">Tech Stack⚒️</h3>


<section class="flex justify-center shadow-lg">
<div class="grid grid-cols-2 md:grid-cols-4 text-xl self-center">
    <div>
        <img src="assets/html-5.png" alt="Html5Img">
        <p>HTML5</p>
    </div>

<div>
    <img src="assets/css-3.png" alt="CSS3Img">
    <p>CSS3</p>
</div>

<div>
    <img src="assets/bootstrap.png" alt="BootstrapImg">
    <p>Bootstrap</p>
</div>
<div>
    <img src="assets/icons8-tailwindcss-144.png" alt="TailwindImg">
    <p>TailwindCSS</p>
</div>

    <div>
        <img src="assets/typescript.png" alt="TypescriptImg">
        <p>Typescript</p>
    </div>
    
    <div>
        <img src="assets/icons8-angular-144.png" alt="AngularImg">
        <p>Angular</p>
    </div>

    <div>
        <img src="assets/icons8-git-144.png" alt="GitImg">
        <p>GIT</p>
    </div>

    <div>
        <img src="assets/icons8-figma-144.png" alt="figmaImg">
        <p>Figma</p>
    </div>

</div>

</section>

</section>