h3{
    font-family: var(--poppins);
    font-family: 600;
}

.specials{
    color: #8533C6;
}


div img{
    max-width: 100%;
    
}

.midSection p{
    font-family: var(--poppins);
    font-weight: 300;
}