
<section class="container mx-auto">

<h3 class="text-5xl mt-14 text-center md:text-left">About <span class="specials">Me</span>.</h3>    

<section class="midSection flex">
    <p class="w-full md:w-3/5 text-xl text-center md:text-left self-center mt-2">

   <span class="specials">Frontend developer</span> with a passion for crafting <span class="specials">visually appealing</span> and 
   <span class="specials"> user-friendly </span> interfaces. Equipped with a strong foundation in front-end development. 
    My commitment to staying updated with the <span class="specials">latest industry trends </span> and techniques allows 
    me to expand my skill set continually, providing innovative solutions. A <span class="specials"> quick learner </span>, 
    I enthusiastically explore new technologies and tools to enhance my development capabilities.
    <span class="specials"> Collaboration </span> is fundamental to my approach, thriving in team environments where I <span class="specials">
    contribute, learn, </span> and <span class="specials"> communicate </span> effectively to ensure project success.
    </p>

    <div class="w-2/5 md:flex justify-end hidden">
    <span class="w-3/5">
    <img src="assets/myImg.jpg" alt="myImage">
   </span>
    </div>
</section>

</section>
