
<main class="container mx-auto">
    
    <div>

    <div class="space-y-5 w-3/5"> 
        <h1 class="text-4xl md:text-5xl">Hi,</h1>
        <h1 class="text-4xl md:text-5xl">I'm <span class="specials"> Ibukunoluwa </span></h1>
        <h1 class="text-4xl md:text-5xl">a <span class="specials">frontend developer</span></h1>
        <button (click)="downloadCV()" class="w-30 p-3 text-white rounded-xl">Download CV</button>
    </div>
    
    
    <div class="w-2/5 flex justify-end">
        <img src="assets/bitmoji.png" alt="Animoji">
    </div>
</div>

</main>

<footer>

    <section class="flex justify-center space-x-4">
    <a href="mailto:Adejokunibk@gmail.com"><img src="assets/mail.png" alt="socialMediaIcons"></a>
    <a href=" https://api.whatsapp.com/send?phone=2349062867720"><img src="assets/whatsapp.png" alt="socialMediaIcons"></a>
    <a href="https://github.com/IAdejokun"><img src="assets/github.png" alt="socialMediaIcons"></a>
    <a href="https://www.linkedin.com/in/adejokun-ibukunoluwa/"><img src="assets/linkedIn.png" alt="socialMediaIcons"></a>
    <a href="https://twitter.com/adejokun_ibk"><img src="assets/x.png" alt="socialMediaIcons"></a>
    </section>

</footer>