<section class="container mx-auto">

<h3 class="text-5xl text-center md:text-left py-5 mb-3">Projects</h3>

<p class="mb-4 text-center md:text-left text-lg py-4"><span class="text-red-700">*</span> Project Documentation & Summary Provided in  <a href="" class="text-[#8533C6] hover:font-semibold">GitHub</a></p>

<section class="flex justify-center">

    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 self-center mb-8">

        <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

          <a href="https://registeration-page-clone.netlify.app" target="_blank"> <img class="rounded-md" src="assets/regPageClone.png" alt="registration clone img"></a>

          <div class="flex items-center justify-between pt-3">
            <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="https://registeration-page-clone.netlify.app" target="_blank">Registration Page Clone</a></h4>
            <a href="https://github.com/IAdejokun/Registration-Page-Clone" target="_blank" class="px-2"><i class="fa-brands fa-github text-gray-500 hover:text-[#8533C6]"></i></a>
          </div>  
          
        </article>

        <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

            <a href="https://adejokun-user-management-dashboard.netlify.app/" target="_blank"> <img class="rounded-md" src="assets/userManagementDashboard.png" alt="user management dashboard img"></a>
  
                <div class="flex items-center justify-between pt-3">
                    <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="https://adejokun-user-management-dashboard.netlify.app/" target="_blank">User Management Dashboard</a></h4>
                    <a href="https://github.com/IAdejokun/User-Management-Dashboard" target="_blank" class="px-2"><i class="fa-brands fa-github text-gray-500 hover:text-[#8533C6]"></i></a>
                </div>
              
          </article>

          <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

            <a href="https://www.figma.com/file/i2ZfVSFQHYc4j4q151nz2E/CineStream?type=design&node-id=0%3A1&mode=design&t=id5iGKG2EgWXHqkS-1" target="_blank"> <img class="rounded-md design" src="assets/cinestreamDesign.png" alt="cinestream design project image"></a>

            <div class="flex items-center justify-between">
                <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="https://www.figma.com/file/i2ZfVSFQHYc4j4q151nz2E/CineStream?type=design&node-id=0%3A1&mode=design&t=id5iGKG2EgWXHqkS-1" target="_blank">Cinestream Design Project</a></h4>
                <a href="https://www.figma.com/file/i2ZfVSFQHYc4j4q151nz2E/CineStream?type=design&node-id=0%3A1&mode=design&t=id5iGKG2EgWXHqkS-1" target="_blank" class="px-2"><i class="fa-brands fa-figma text-gray-500 hover:text-[#8533C6]"></i></a>
              </div> 
              <p class="text-gray-500 text-sm italic px-2 mb-2">Design Collab - <span class="text-[#8533C6] hover:font-semibold"><a href="https://www.linkedin.com/in/omokhuale-edward/" target="_blank" >Edward</a></span> & Myself</p>
          </article>

          
          <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

            <a href="https://cinestreamapp.netlify.app" target="_blank"> <img class="rounded-md" src="assets/cinestream.png" alt="cinestreamImg"></a>

              <div class="flex items-center justify-between pt-3">
                <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="https://cinestreamapp.netlify.app/" target="_blank">Cinestream</a></h4>
                <a href="https://bitbucket.org/adejokun-ibukunoluwa/movie-streaming-app/src/main/" target="_blank" class="px-2"><i class="fa-brands fa-github text-gray-500 hover:text-[#8533C6]"></i></a>
              </div> 
  
          </article>

          <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

            <a href="https://www.figma.com/file/ADGvOOO6mmbRG4cBir6fUv/Portfolio?type=design&node-id=0%3A1&mode=design&t=Vi6RS2wLTnVn33Kl-1" target="_blank"> <img class="rounded-md design" src="assets/portfolioDesign.png" alt="portfolio design project image"></a>
  
            <div class="flex items-center justify-between pt-3">
                <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="https://www.figma.com/file/ADGvOOO6mmbRG4cBir6fUv/Portfolio?type=design&node-id=0%3A1&mode=design&t=Vi6RS2wLTnVn33Kl-1" target="_blank">Portfolio Design Project</a></h4>
                <a href="https://www.figma.com/file/ADGvOOO6mmbRG4cBir6fUv/Portfolio?type=design&node-id=0%3A1&mode=design&t=Vi6RS2wLTnVn33Kl-1" target="_blank" class="px-2"><i class="fa-brands fa-figma text-gray-500 hover:text-[#8533C6]"></i></a>
              </div> 
  
          </article>

          <article class="shadow-lg w-80 rounded-md  md:w-full hover:scale-105">

            <a href="" target="_blank"> <img class="rounded-md" src="assets/portfolio.png" alt="portfolioImg"></a>
  
            <div class="flex items-center justify-between pt-3">
                <h4 class="font-bold transition-all hover:text-[#8533C6] p-2"><a href="" target="_blank">Portfolio</a></h4>
                <a href="https://github.com/IAdejokun/Portfolio" target="_blank" class="px-2"><i class="fa-brands fa-github text-gray-500 hover:text-[#8533C6]"></i></a>
              </div> 
  
          </article>

    </section>
   
</section>

</section>